body {
  background-color: teal;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: blue;
}

ul {
  list-style-type: none;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
}

#container {
  background-color: wheat;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: #66ccff;
  color: white;
  text-align: center;
}
#content {
  padding: 10px 10px 10px 10px;
}
#nav {
  width: 180px;
  float: left;
}
.selected {
  font-weight: bold;
}
#main {
  width: 600px;
  float: right;
}
#footer {
  clear: both;
  background-color: #999;
  color: white;
  text-align: right;
  padding: 10px;
}
